{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="list-page">
    <!-- <div class="list-page-title">
        <h4>list configs</h4>
    </div> -->
    <div class="list-item">
        {% if list_config %}
            {% for c in list_config %}
            <div style="display:inline;">
                <div class="card" style="width:300px; display: inline-block;">
                    <img class="card-img-top" src="static/mau/{{ c.image }}" alt="{{ c.name }}" style="width:100%">
                    <div class="card-body">
                        <h4 class="card-title">{{ c.name }}</h4>
                        <a href="select/{{ c.name }}" class="btn btn-primary">Sử dụng</a>
                        <p></p>
                        <a href="detail/{{ c.name }}" class="btn btn-primary">Xem</a>
                        <a href="edit/{{ c.name }}" class="btn btn-primary">Sửa</a>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#{{c.name}}Modal">Xóa</button>
                        
                        <!-- Modal -->
                        <div class="modal fade" id="{{c.name}}Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog " role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Xác nhận xóa</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                </div>
                                <div class="modal-body">
                                {{ c.name }}
                                </div>
                                <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                                <a href="delete/{{ c.name }}" type="button" class="btn btn-danger" style="color: white;">Xóa</a>
                                </div>
                            </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <h5>Chưa có mẫu nào</h5>
            <a href="upload">Tạo mẫu</a>
        {% endif %}
    </div>
</div>
{% endblock %}